@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* ESTILOS GENERALES  */

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #161718;
  color: #fafafa;
  overflow-x: hidden;
}

/* ENCABEZADO  */

.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  height: 10rem;
}

.tituloPrincipal {
  text-decoration: none;
  font-size: 3rem;
  color: #fafafa;
}

.tituloPrincipal i {
  font-size: 4rem;
  color: #27a776;
}

.tituloPrincipal h1 {
  display: inline-block;
  font-size: 4rem;
  font-weight: 700;
}

.encabezado ul {
  display: flex;
  list-style-type: none;
}

.encabezado ul li {
  margin-right: 3rem;
}

.encabezado ul li a {
  text-decoration: none;
  color: #fafafa;
  font-size: 3rem;
  transition: all 0.3s ease;
}

.encabezado ul li a:hover {
  color: rgba(255, 255, 255, 0.6);
}

/* HERO */

.hero {
  width: 100%;
  height: calc(100vh - 10rem);
  position: relative;
  display: inline-block;
}

.hero h2 {
  margin-bottom: 1rem;
  font-size: 3.8rem;
  font-weight: 500;
}

.hero h2 span {
  font-weight: 700;
  position: relative;
  padding: 0 5px;
}

.hero h2 span::before {
  content: "";
  background-color: #27a776;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 4px;
  height: 30%;
  z-index: -1;
}

.hero p {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 3rem;
  font-size: 1.8rem;
}

.hero a {
  background-color: #27a776;
  text-decoration: none;
  color: #fafafa;
  font-size: 3rem;
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.hero a:hover {
  background-color: #2cbc85;
}

/* GALERIA */

.introGaleria {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #27a776;
  margin-bottom: 3rem;
}

.introGaleria h2 {
  font-size: 4rem;
  font-weight: 700;
}

.imagenGaleria {
  border-radius: 1rem;
  padding: 0.4rem;
  max-width: 100%;
  height: auto;
  filter: grayscale(50%);
  transition: all 0.3s ease;
}


.imagenGaleria:hover {
  filter: grayscale(0%);
  transform: scale(1.03);
}


@media (max-width: 767px) {
  .imagenGaleria {
    max-width: 90%;
    margin: auto;
  }

  .tituloPrincipal {
    display: none;
  }

  .introGaleria {
    display: none;
  }
}